{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
<h1 class="my-3">Accueil</h1>
    <div class="alert alert-primary text-center" role="alert">
        Bienvenue sur le blog !
    </div>
    <div class="list-group">
        {% for article in articles %}
            <a class="list-group-item list-group-item-action" href="{{ path('app_article_slug', {'slug': article.slug}) }}">{{ article.titre }}</a>
        {% endfor %}
    </div>
{% endblock %}
