{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between">
        <h1 class="mt-3">Liste des articles</h1>
        <div class="d-flex align-items-center">
            <a class=" my-2 btn btn-primary" href="{{ path('app_articles_nouveau') }}"> Ajouter procédure</a>
        </div>

    </div>

    <div class="list-group">
        {% for article in articles %}
            <a class="list-group-item list-group-item-action" href="{{ path('app_articles_slug', {'slug': article.slug}) }}">{{ article.titre }}</a>
        {% endfor %}
    </div>
    <div class="navigation mt-3 d-flex justify-content-center">
        {{ knp_pagination_render(articles) }}
    </div>
{% endblock %}
