{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}
    <h1 class="my-3">Liste des articles</h1>
    <div class="list-group">
        {% for article in articles %}
            <a class="list-group-item list-group-item-action" href="{{ path('app_article_slug', {'slug': article.slug}) }}">{{ article.titre }}</a>
        {% endfor %}
    </div>
{% endblock %}
