{% extends 'base.html.twig' %}

{% block title %}Nouvel article{% endblock %}

{% block body %}

    <h1 class="mt-3">Création d'un article</h1>
    {{ form_start(formArticle) }}
        {{ form_row(formArticle.titre) }} {# champs titre #}
        {{ form_row(formArticle.contenu) }} {# champs contenu #}
        <input type="submit" class="btn btn-primary" value="Ajouter">
    {{ form_end(formArticle) }}


{% endblock %}



